/* Empty. Add your own CSS if you like */
#content{position: absolute;top: 50px;bottom: 0px;width: 100%;padding: 0px 10px;}
#cover{position: absolute;top: 0px;right: 0px;bottom: 0px;left: 0px;margin:auto;background-color: blue;z-index: 999;}