<task-calendar year="2015" month="2" on-change="change" on-date-tap="dateTap"></task-calendar>
<div class="card">
    <a class="item item-icon-left item-divider dark">
        <i class="icon ion-clipboard"></i>
        今日任务
    </a>
    <div class="item item-checkbox">
        <label class="checkbox">
            <input type="checkbox">
        </label>
        今日任务
    </div>
    <div class="item item-checkbox">
        <label class="checkbox">
            <input type="checkbox">
        </label>
        今日任务
    </div>
    <div class="item item-text-wrap item-checkbox">
        <label class="checkbox">
            <input type="checkbox">
        </label>
        今日任务
    </div>
    <div class="item item-checkbox">
        <label class="checkbox">
            <input type="checkbox">
        </label>
        今日任务
    </div>
</div>
