<task-calendar on-change="change" on-date-tap="dateTap"></task-calendar>
<div class="card" id="todayTask">
    <div class="item item-icon-left item-divider dark">
        <i class="icon ion-clipboard"></i>
        今日任务
    </div>
    <div class="item item-checkbox" md ng-repeat="obj in taskObjs track by $index">
        <label class="checkbox">
            <input type="checkbox" ng-click="taskDone($event,$index)" ng-checked="obj.done">
        </label>
        {{obj.task.title}}
    </div>
</div>
