<nav class="card" on-tap="go('wallet')">
    <div class="item nav-item" md>
        <div class="nav-icon"></div>
        <div class="nav-title">记账</div>
    </div>
</nav>
<nav class="card" on-tap="go('task')">
    <div class="item nav-item" md>
        <div class="nav-icon"></div>
        <div class="nav-title">任务</div>
    </div>
</nav>
<nav class="card" on-tap="go('note')">
    <div class="item nav-item" md>
        <div class="nav-icon"></div>
        <div class="nav-title">日记</div>
    </div>
</nav>